section.section.works#works
  .works-gallery.grid
    .drag-popup-icon
      svg(width='40px' height='40px')
        use(xlink:href='images/SVG.svg#drag')
    #scrolling-wrapper
      #scroller
        mixin gridItem(title, src, cls, href)
          .grid__item(class=`grid__item--${cls}`)
              h2.grid__title= title
              a(target='blank' href=href).grid__link
                h3.grid__linkname Просмотр
                svg(width='20px' height='20px')
                  use(xlink:href='images/SVG.svg#link')
              .grid__image
                img(data-src=src width="320px" height="400px" alt=title)
        +gridItem('Сайт строительной компании', 'images/work-prestige.jpg', 'green', 'http://www.prestigefacade.ru/index.html')
        +gridItem('Форма заказа с картой', 'images/from-map.png', 'red', 'http://four-existence.surge.sh/')
        +gridItem('Сайт для группы компаний "ФОРУМ"', 'images/forum.png', 'green', 'https://davegahn.github.io/FORUM/')
        +gridItem('Заглушка для сайта конференций', 'images/finadtech.png', 'red', 'https://finadtech.com')
        +gridItem('Сайт группы компаний', 'images/work-ptd.jpg', 'red', 'http://www.ptd.spb.ru')
        +gridItem('Сайт кондитерской фабрики', 'images/work-veresk.jpg', 'green', 'http://www.veresk-vafli.ru')
        +gridItem('Лендинг - отчет мероприятия', 'images/abu-d.png', 'red', 'https://leadgid.ru/events/abu_dhabi_results')

        

