section.section.works#works
  .works-gallery.grid
    .drag-popup-icon
      svg(width='40px' height='40px')
        use(xlink:href='images/SVG.svg#drag')
    #scrolling-wrapper
      #scroller
        mixin gridItem(title, src, cls, href)
          .grid__item(class=`grid__item--${cls}`)
              h2.grid__title= title
              a(target='blank' href=href).grid__link
                h3.grid__linkname Просмотр
                svg(width='20px' height='20px')
                  use(xlink:href='images/SVG.svg#link')
              .grid__image
                img(data-src=src width="320px" height="400px" alt=title)
        +gridItem('Сайт строительной компании', 'images/work-prestige.jpg', 'green', 'http://www.prestigefacade.ru/index.html')
        +gridItem('Сайт медицинского центра', 'images/work-baby.jpg', 'red', 'http://baby-health.surge.sh/')
        +gridItem('Сайт производителя оптики', 'images/work-valo.jpg', 'green', 'http://www.svet.sitedev.spb.ru')
        +gridItem('Сайт базы отдыха', 'images/work-base.jpg', 'red', 'https://serene-tundra-58822.herokuapp.com/')
        +gridItem('Сайт группы компаний', 'images/work-ptd.jpg', 'green', 'http://www.ptd.spb.ru')
        +gridItem('Сайт кондитерской фабрики', 'images/work-veresk.jpg', 'red', 'http://www.veresk-vafli.ru')

